@using System.ComponentModel.DataAnnotations
@using UI.EmployerPortal.Razor.SharedComponents.Address
@using UI.EmployerPortal.Razor.SharedComponents.Inputs;
@using UI.EmployerPortal.Web.Features.EmployerRegistration.Components;
@using UI.EmployerPortal.Web.Features.EmployerRegistration.Models;
@using UI.EmployerPortal.Web.Features.Shared.Registrations.Models;
@inject NavigationManager Nav;

<PageTitle>Preliminary Questions</PageTitle>

<div class="page_wrapper">
    <div class="bi-page-content">
        <h1 class="page-title">Preliminary Questions</h1>
        <p class="page-subtitle">All fields are required unless noted</p>

        <EditForm EditContext="_editContext">

            <!-- FEIN -->
            <FEINField Label="FEIN"
                        @bind-Value="Model.FEIN"
                        For="() => Model.FEIN" />
            <br />

            <!-- UI Account Number -->
            <!--Use Mask shared component at line 23 as reference in all your pages whereever needed-->
            <OutlinedTextField Label="Employer UI Account Number (Optional)"
                               @bind-Value="Model.UIAccountNumber"
                               For="() => Model.UIAccountNumber"
                               Mask="000000-000-0"
                               FormatText="(999999-999-9)" />
            <br />

            <!-- Question 1 -->
            <p>Select your business category. <span class="fw-bold">To be considered a non-profit organization by the State of Wisconsin, you must have recieved a 501(c)(3) determination from the IRS</span></p>
            <FieldError For="@(() => Model.BusinessCategory)"
                        Visible="@_formSubmitted" />
            <RadioGroup TValue="BusinessCategory ?"
                        Value="Model.BusinessCategory"
                        ValueChanged="OnBusinessCategoryChanged"
                        ValueExpression="() => Model.BusinessCategory"
                        Options="@BusinessCategoryOptions" />
            <br />

            <!-- Question 2 -->
            <p>Have you acquired through sale, reorganization or other means an existing business operation in Wisconsin?</p>
            <FieldError For="@(() => Model.AcquiredExistingBusiness)"
                        Visible="@_formSubmitted" />
            <RadioGroup TValue="bool?"
                        Value="Model.AcquiredExistingBusiness"
                        ValueChanged="OnAcquiredExistingBusinessChanged"
                        ValueExpression="() => Model.AcquiredExistingBusiness"
                        Options="@YesNoRadioOptions" />
            <br />

            @if (VisibilityQuestion_2_1)
            {
                <!-- Question 2.1 -->
                <p data-questionid="2.1">Do you know the Account Number of the acquired business?</p>
                <FieldError For="@(() => Model.KnowAcquiredBusinessAccountNumber)"
                            Visible="@_formSubmitted" />
                <RadioGroup TValue="bool?"
                            Value="Model.KnowAcquiredBusinessAccountNumber"
                            ValueChanged="OnKnowAcquiredBusinessAccountNumberChanged"
                            ValueExpression="() => Model.KnowAcquiredBusinessAccountNumber"
                            Options="@YesNoRadioOptions"/>
                <br />

                @if (VisibilityQuestion_2_1_1)
                {
                    <!-- Question 2.1.1 (Question 2.1 Yes) -->
                    <span data-questionid="2.1.1"></span>
                    <OutlinedTextField Label="Acquired business Employer UI Account Number"
                                       @bind-Value="Model.AcquiredBusinessAccountNumber"
                                       For="() => Model.AcquiredBusinessAccountNumber"
                                       Mask="000000-000-0"
                                       FormatText="(999999-999-9)"/>
                    <br />
                }
                else if (VisibilityQuestion_2_1_2)
                {
                    <!-- Question  2.1.2 (Question 2.1 No) -->
                    <span data-questionid="2.1.2"></span>
                    <OutlinedTextField Label="Name of the acquired business"
                                       @bind-Value="Model.AcquiredBusinessName"
                                       For="() => Model.AcquiredBusinessName"/>
                    <br />

                    <p>Current Address of Acquired Business</p>
                    <AddressField Address="Model.AcquiredBusinessAddress"
                                  Visible="true"
                                  ErrorVisibleForField="(_) => _formSubmitted"/>
                    <br />
                }
            }

            @if (VisibilityQuestion_3)
            {
                <!-- Question 3 -->
                <p data-questionid="3">Have you paid employees for work performed in Wisconsin?<br /><span class="fw-bold">Do not include wages that have not yet been paid out, or wages reportable to a state other than Wisconsin.</span></p>
                <FieldError For="@(() => Model.HavePaidEmployeesForWorkInWisconsin)"
                            Visible="@_formSubmitted" />
                <RadioGroup TValue="bool?"
                            Value="Model.HavePaidEmployeesForWorkInWisconsin"
                            ValueChanged="OnHavePaidEmployeesForWorkInWisconsinChanged"
                            ValueExpression="() => Model.HavePaidEmployeesForWorkInWisconsin"
                            Options="@YesNoRadioOptions"/>
                <br />

        
                @if (VisibilityQuestion_3_1)
                {
                    <!-- Question 3.1 (Question 3 Yes) -->
                    <p data-questionid="3.1">Do you still have paid employees working in Wisconsin?</p>
                    <FieldError For="@(() => Model.HaveEmployeesCurrentlyWorkingInWisconsin)"
                                Visible="@_formSubmitted" />
                    <RadioGroup TValue="bool?"
                                Value="Model.HaveEmployeesCurrentlyWorkingInWisconsin"
                                ValueChanged="OnHaveEmployeesCurrentlyWorkingInWisconsinChanged"
                                ValueExpression="() => Model.HaveEmployeesCurrentlyWorkingInWisconsin"
                                Options="@YesNoRadioOptions"/>
                    <br />

                    @if (VisibilityQuestion_3_1_2)
                    {
                        <!-- Question 3.1.2 (Question 3.1 No) -->
                        <span data-questionid="3.1.2"></span>
                        <OutlinedTextField Label="Last Employment Date"
                                           Type="date"
                                           @bind-Value="LastEmploymentDateAsString"
                                           For="() => LastEmploymentDateAsString"/>
                        <br />

                        <OutlinedTextField Label="Last Payroll Date"
                                           Type="date"
                                           @bind-Value="LastPayrollDateAsString"
                                           For="() => LastPayrollDateAsString" />
                        <br />
                    }
                }
                else if(VisibilityQuestion_3_2)
                {
                    <!-- Question 3.2 (Question 3 No) -->
                    <p data-questionid="3.2">Do you expect to pay wages for work performed in Wisconsin in the future?</p>
                    <FieldError For="@(() => Model.ExpectFuturePayroll)"
                                Visible="@_formSubmitted" />
                    <RadioGroup TValue="bool?"
                                Value="Model.ExpectFuturePayroll"
                                ValueChanged="OnExpectFuturePayrollChanged"
                                ValueExpression="() => Model.ExpectFuturePayroll"
                                Options="@YesNoRadioOptions"/>
                    <br />

                    <!-- Question 3.2.1 (Question 3.2 Yes) -->
                    @if (VisibilityQuestion_3_2_1)
                    {
                        <span data-questionid="3.2.1"></span>
                        <OutlinedSelectField Label="When?"
                                         @bind-Value="ExpectedFuturePayrollPeriodAsString"
                                         Options="FuturePayPeriodOptions"
                                         For="() => ExpectedFuturePayrollPeriodAsString"/>
                        <FieldError For="@(() => Model.ExpectedFuturePayrollPeriod)"
                                    Visible="@_formSubmitted" />
                        <br />
                    }
                }
            }
    
            <!-- Question 4 (Question 3.1 Yes) -->
            @if (VisibilityQuestion_4)
            {
                <p data-questionid="4">Did you sell or transfer your business?</p>
                <FieldError For="@(() => Model.HaveSoldOrTransferredBusiness)"
                            Visible="@_formSubmitted" />
                <RadioGroup TValue="bool?"
                            Value="Model.HaveSoldOrTransferredBusiness"
                            ValueChanged="OnHaveSoldOrTransferredBusinessChanged"
                            ValueExpression="() => Model.HaveSoldOrTransferredBusiness"
                            Options="@YesNoRadioOptions"/>
                <br />
            }
        </EditForm>
    </div>
</div>

