@page "/employer-registration/Verification";

@using UI.EmployerPortal.Web.Features.EmployerRegistration.Components;
@using UI.EmployerPortal.Web.Features.Shared.Registrations.Models

@inject NavigationManager Nav;

<PageTitle>Verification</PageTitle>

<div class="vf-page-wrapper">
    <div class="vf-page-content">

        <h1 class="vf-page-title">Verification</h1>

        <span class="vf-page-subtitle">Carefully review all the information on this screen. If all the information is correct. Click “Submit” to file your completed registration.</span>

        <SurveyQuestionResponses
            Questions="@Questions"
            SurveyResponses="@Responses"
            Contacts="@Contacts"
            Addresses="@Addresses"
            OnNavigateToStep="@OnNavigateToStep"
            CurrentStep="@CurrentStep"
            ShowEditSection="true"/>
    </div>
</div>
