@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@using UI.EmployerPortal.Web.Auth
@using UI.EmployerPortal.Web.Features.Shared.Accounts.Services
@using UI.EmployerPortal.Web.Features.Landing.Pages;

@inherits LayoutComponentBase

<a href="#main-content" class="skip-link">Skip to main content</a>

<div class="page">
    @if (ShowTopHeader)
    {
        <TopHeader showTopHeader="@_isAuthenticated"></TopHeader>
    }
    @if (ShowSubHeader)
    {
        <SubHeader showEmployerNavigation="@ShowEmployerNavigation"
                   IsLandingPage="@IsLandingPage"
                   IsDashboardPage="@IsDashboardPage"></SubHeader>
    }
    <div class="main-content-wrapper">
        @if (ShowSideMenu)
        {
            <SideMenu />
        }

        <main id="main-content" class="@(ShowSideMenu ? "with-menu" : "")">
            <article class="content">
                <AuthorizeView>
                    <Authorized>
                        @*  <div style="text-align: right; width: 100%;">
                            <a href="@_logoutUrl">Logout</a>
                        </div> *@
                        @Body
                    </Authorized>
                    <NotAuthorized>

                    </NotAuthorized>
                </AuthorizeView>
            </article>
        </main>
    </div>

    <Footer />
    <TagVersion />
</div>

<div id="blazor-error-ui" data-nosnippet role="alert">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <button type="button" class="dismiss" aria-label="Dismiss error">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
